@model PontoViewModel

<h1>Visualizar Ponto</h1>

<div class="container">
    @Html.Partial("_PartialFormsPonto")

</div>

@section JS{
    <script src="~/Scripts/UI/Ponto/Ponto_ReadOnly.js"></script>
}