@model MatrizViewModel

<h1>Alterar Matriz</h1>

<div class="container">
    @Html.Partial("_PartialFormsMatriz")

</div>

@section JS{
    <script src="~/Scripts/UI/Matriz/Matriz_Alter.js"></script>

}